<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/userSchemaAPI/register/kakao" method="POST">
            <label for="username">username</label>
            <input type="text" name="username" id="username" required>
            <div>
                <span>serviceType</span>
                <label><input type="radio" name="serviceType" value="ARMY" /> 육군</label>
                <label><input type="radio" name="serviceType" value="NAVY" /> 해군</label>
                <label><input type="radio" name="serviceType" value="AIR_FORCE" />공군</label>
                <label><input type="radio" name="serviceType" value="OTHER" />기타</label>
            </div>
        <button>Submit</button>
    </form>
</body>
</html>