<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/userSchemaAPI/Register/local" method="POST">
        <div>
            <label for="email">email</label>
            <input type="email" name="email" id="email" required>
        </div>
        <div>
            <label for="username">username</label>
            <input type="text" name="username" id="username" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
        </div>
        <div>
            <span>serviceType</span>
            <label><input type="radio" name="serviceType" value="ARMY" /> 육군</label>
            <label><input type="radio" name="serviceType" value="NAVY" /> 해군</label>
            <label><input type="radio" name="serviceType" value="AIR_FORCE" />공군</label>
            <label><input type="radio" name="serviceType" value="OTHER" />기타</label>
        </div>
        <button>Submit</button>
    </form>
</body>
</html>